.titulo{
    background-color: rgb(0, 0, 142);
    font-family: Times, "Times New Roman", Georgia, serif;
    height: 100px;
    color: aliceblue;
    display: flex;
    align-items: flex-end;
    font-size: 15px;
}
body{
    font-family: Times, "Times New Roman", Georgia, serif;
}
.destinos{
    display: flex;
    flex-direction: row;
    justify-content: horizontal;
    align-items: vertical;
    justify-content: center;
    gap: 100px; 
}

img{
    border-radius: 5%;
    width: 400px;
    height: 360px;
}
.praia{
    background-color: rgb(16, 133, 211);
    width: 400px;
    height: 50px;
    text-align: center;
    color:aliceblue;
}
    